.navbar {
  background-color: #0064EB;
  display: flex;
  align-items: center;
  padding: 16px 41px;
  @media(max-width: 820px) {
    justify-content: center;
  }

  .logo {
    width: 40px;
    height: 40px;
  }
  .search_input {
    background-image: url(../assets/image.svg);
    background-repeat: no-repeat;
    background-position: 19px;
    font-size: 14px;
    margin-left: 22px;
    border-radius: 6px;
    padding-left: 44px;
    height: 40px;
    width: 500px;
  }
}